@page "/login"

<div class="flex-container overlay">
    <div class="flex align-middle">
        <div class="card mx-auto" style="width: 18rem">
            <h4 class="card-header text-center">Login</h4>
            <div class="row" style="justify-content: center">
                <div class="col col-sm-4 col-md-12 pt-2 px-4">
                    <input type="text" class="form-control my-3" placeholder="Email Address" />
                    <input type="text" class="form-control my-3" placeholder="Password" />
                    <button type="button" class="btn btn-primary mb-2 mx-auto w-100">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}

